<div class="container mt-5 animated fadeInUp" *ngIf="status" >
    <div class="text-right">
        <a name="back" class="btn btn-outline-primary" [routerLink]="['/main-user']" routerLinkActive="router-link-active"  role="button"><i class="fas fa-arrow-left"></i> Regresar</a>
    </div>
   <div class="text-center">
    <h2>Historial Medico</h2>
    <textarea name="" id="" cols="30" rows="10" disabled class="justify-content-start">{{enfermedad}}
    </textarea>
   </div>
</div>
