<body>
  <div class="float-right top-right">
    <button type="button" routerLink="" class="btn btn-outline-info">
      <i class="fa fa-arrow-left"></i>
      Ir a Inicio
    </button>
  </div>
  <div class="">
    <div class="container text-center">
      <h1><i class="fas fa-exclamation-triangle"></i> ERROR 404</h1>

      <br />

      <i class="fa fa-frown-o fa-5x"></i>
      <p class="p">
        ¡Página No Encontrada! <br />
        Lo sentimos pero no esta disponible la página que quieres ingresar
      </p>
    </div>
    <div class="cry container text-center"></div>
  </div>
</body>
