<nav class="navbar navbar-expand-md navbar-light bg-light shadow sticky-top ">
    <a routerLink="" class="navbar-brand">
        <img src="../assets/img/dentist.svg" height="28" alt="CoolBrand">
    </a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav" routerLinkActive="active">
            <a class="nav-item nav-link" [routerLink]="['']" *ngIf="!access">Inicio</a>
            <a class="nav-item nav-link" [routerLink]="[''] " *ngIf="!access">Nosotros</a>
            
            <!-- <a href="#" class="nav-item nav-link">Messages</a> -->
            <!-- <a href="#" class="nav-item nav-link disabled" tabindex="-1">Reports</a> -->
        </div>
        
        <div class="navbar-nav ml-auto">
            <a [routerLink]="['login']" class="nav-item nav-link" *ngIf="!access">Login <i class="fas fa-chevron-right" ></i></a>
            <a [routerLink]="['registro']" class="nav-item nav-link ml-2" *ngIf="!access">Sign in <i class="fas fa-sign-in-alt"></i></a>
            <a  [routerLink]="['']" (click)="logout()" class="nav-item btn btn-outline-danger ml-2" *ngIf="access">Cerrar Sesión</a>
        </div>
    </div>
</nav>