<body>
  <!-- Menú -->
  <!-- <div>
		<ul>
			<li><img src="../assets/img/dentist.svg" alt="logo" width = "60" height="60"></li>
			<li><a routerLink="">Inicio</a></li>
			<li><a routerLink="/registro">Regístrese</a></li>
			<li><a routerLink="/login">Ingrese</a></li>
			<li><a href="acerca.php">Acerca de nosotros</a></li>
		</ul>
    </div> -->

  <!-- "Scroller" -->
  <div class="slider animated fadeInUp">
    <ul>
      <li>
        <img src="../assets/img/2.jpg" width="" height="700" />
      </li>
      <li>
        <img src="../assets/img/3.jpg" width="" height="700" />
      </li>
      <li>
        <img src="../assets/img/4.jpg" width="" height="700" />
      </li>
      <li>
        <img src="../assets/img/5.jpg" width="" height="700" />
      </li>
    </ul>
  </div>

  <!--Footer-->
  <div class="footer">Dentistapp - 2020. <br /></div>
</body>
