
<div class="container">
  <div class=" ">
    <div class="col mb-4">
      <div class="card mt-5">
        <button class="btn btn-outline-primary" routerLink="/login-dentista">
          <i class="fas fa-user-md fa-8x align-self-center mt-5"></i>
          <div class="card-body">
            <h5 class="card-title">Dentista</h5>
            <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
          </div>
        </button>
      </div>
    </div>
    <div class="col mb-4">
      <div class="card">
        <button class="btn btn-outline-info" routerLink="/login-user">
          <i class="fas fa-user fa-8x align-self-center mt-5"></i>
          <div class="card-body">
            <h5 class="card-title">Paciente</h5>
            <!-- <p class="card-text">This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p> -->
          </div>
        </button>
      </div>
    </div>
  </div>
</div>
