  <body> 
	<div class="container animated fadeInUp mt-5" *ngIf="view==1">
		<h3 class="mb-5 text-center"><b>Bienvenido</b> </h3>
		<div class="row " >
			<div class="col-6">
			  <div class="card">
				<div align="center">
					<!-- <img src="../assets/img/6.png" width="300" > -->
					<a><i class="fas fa-calendar-alt fa-10x mt-5 "></i></a>
				</div>
				<div class="card-body">
				  <h5 class="card-title text-center"><b>Agenda una cita</b></h5>
				  <p class="card-text">Agenda una cita y aparta tu lugar para ser atendido por nuestros especialistas.</p>
				  <a routerLink="/agenda-cita" class="btn btn-outline-primary">Agenda tu cita</a>
				</div>
			  </div>
			</div>

			<div class="col-6">
				<div class="card ">
				  <div align="center">
					  <!-- <img src="../assets/img/8.png" width="300"> -->
					  <a ><i class="fas fa-history fa-10x mt-5"></i></a>
				  </div>
				  <div class="card-body">
					<h5 class="card-title text-center"><b>Mi historial</b></h5>
					<p class="card-text">¿No recuerdas cuándo es tu cita? Mira tu historial para poder llevar un mejor control.</p>
					<a routerLink="/historial-usuario" class="btn btn-outline-primary">Historial</a>
				  </div>
				</div>
			  </div>
			  <div class="col-6">
				<div class="card mt-5">
				  <div align="center">
					  <i class="fas fa-file-medical-alt fa-10x mt-5"></i>
				  </div>
				  <div class="card-body">
					<h5 class="card-title text-center"><b>Historial Clínico</b></h5>
					<p class="card-text">Echa un vistazo a nuestra amplia gama de productos que podrán hacer de tu tratamiento mas efectivo.</p>
					<a [routerLink]="['/historialclinico-usuario']" routerLinkActive="router-link-active"  class="btn btn-outline-primary">Historial Clinico</a>
				  </div>
				</div>
			  </div>
		  </div>
	
		  <div class="row" >
			

			<!-- <div class="col-6">
			  <div class="card mt-5">
				<div align = "center">
					<i class="fas fa-phone fa-10x mt-5"></i>
				</div>
				<div class="card-body">
				  <h5 class="card-title text-center"><b>Contactános</b></h5>
				  <p class="card-text">Aqui podrás encontrar nuestro contacto telefónico para cualquier aclaración o duda.</p>
				  <a routerLink="" class="btn btn-outline-primary">Contactanos</a>
				</div>
			  </div>
			</div> -->
		  </div>
		
	</div>

	<div class="container animated fadeInUp mt-5" *ngIf="view==2">
		<h3 class="mb-5 text-center"><b>Dentista- Admin</b> </h3>
		<div class="row " >
			<div class="col-6">
			  <div class="card">
				<div align="center">
					<!-- <img src="../assets/img/6.png" width="300" > -->
					<a><i class="fas fa-calendar-alt fa-10x mt-5 "></i></a>
				</div>
				<div class="card-body">
				  <h5 class="card-title text-center"><b>Confirmar citas de pacientes</b></h5>
				  <p class="card-text">Revisa las citas que tengas pendiente sin fecha y asignales una fecha a tus pacientes.</p>
				  <a routerLink="/agenda-cita" class="btn btn-outline-primary">Ver citas</a>
				</div>
			  </div>
			</div>

			<div class="col-6">
				<div class="card ">
				  <div align="center">
					  <!-- <img src="../assets/img/8.png" width="300"> -->
					  <a ><i class="fas fa-history fa-10x mt-5"></i></a>
				  </div>
				  <div class="card-body">
					<h5 class="card-title text-center"><b>Historial</b></h5>
					<p class="card-text">Revisa cual es tu itinerario del día de hoy y podrás checar la que pacientes pasarán hoy.</p>
					<a routerLink="/historial-dentista" class="btn btn-outline-primary">Ver historial</a>
				  </div>
				</div>
			  </div>
			
		  </div>
	
		  <div class="row" >
			<div class="col-6">
			  <div class="card mt-5">
				<div align="center">
					<i class="fas fa-file-medical-alt fa-10x mt-5"></i>
				</div>
				<div class="card-body">
				  <h5 class="card-title text-center"><b>Historial Clínico</b></h5>
				  <p class="card-text">Crea, edita y elimina historiales clínicos para tus pacientes y asi poder llevar un mejor control de su salud.</p>
				  <a routerLink="" class="btn btn-outline-primary">Ver historial clinico</a>
				</div>
			  </div>
			</div>

			
		  </div>
		
	</div>
	<br>

	<!--Footer-->
	<div class="footer">
		Dentistapp - 2020. <br>
	</div>
  </body>

