/* body {
    background-color: rgb(11, 52, 87);
    color: #FFFFFF;
    font-family: 'Baskervville', serif;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  /* Change the link color to #111 (black) on hover
  li a:hover {
    background-color: #444;
  }
  .card{
    color: #000000;
    text-align: center;
    
    
  }

  
  input[type="text"], input[type="password"]{
    outline: none;
    padding: 20px;
    display: block;
    width: 300px;
    border-radius: 3px;
    border: 1px solid #eee;
    margin: 20px auto;
  }
  
  input[type="submit"]{
    padding: 10px;
    color: #fff;
    background: #0098cb;
    width: 320px;
    margin: 20px auto;
    margin-top: 0px;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #00b8eb; 
  }
  .row{
    margin-top: 1%;
    margin-right: 15%;
    margin-left: 15%;
  }
  .row img{
    height: 250px;
  } */
.footer {
  background-color: #333;
  text-align: center;
  color: aliceblue;
  padding: 10px;
}

.card {
  -webkit-border-radius: 20px 20px 20px 20px;
  border-radius: 20px 20px 20px 20px;
  -webkit-box-shadow: 10px 10px 49px -13px rgba(0, 0, 0, 0.49);
  -moz-box-shadow: 10px 10px 49px -13px rgba(0, 0, 0, 0.49);
  box-shadow: 10px 10px 49px -13px rgba(0, 0, 0, 0.49);
}
