<body>
  <div class="container animated fadeInUp">
    <h2 class="text-center mt-5">Registro</h2>
    <div class="alert alert-success" role="alert" *ngIf="operator == 1">
      {{ message }}
   </div>
   <div class="alert alert-danger" role="alert" *ngIf="operator == 3">
       {{ message }}
   </div>
   <div class="alert alert-warning" role="alert" *ngIf="operator == 2">
       {{ message }}
   </div>
    <form class="mt-4" (ngSubmit)="save()" #forma="ngForm">
      <div class="form-group row">
        <label for="staticname" class="col-sm-2 col-form-label">Nombre</label>
        <div class="col-sm-10">
          <input type="text" required name="nombre_usuario" #nombre_usuario="ngModel" [(ngModel)]="registerUser.nombre_usuario" class="form-control"
            id="staticname" placeholder="Nombre" />
        </div>
      </div>
      <div class="form-group row">
        <label for="apellido" class="col-sm-2 col-form-label">Apellido</label>
        <div class="col-sm-10">
          <input type="text" required class="form-control" name="apellido_usuario" #apellido_usuario="ngModel" [(ngModel)]="registerUser.apellido_usuario" id="apellido" placeholder="Apellido" />
        </div>
      </div>
      <div class="form-group row">
        <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
        <div class="col-sm-10">
          <input type="text" required class="form-control" name="email" #email="ngModel" [(ngModel)]="registerUser.email" id="staticEmail" placeholder="email@example.com" />
        </div>
      </div>
      <div class="form-group row">
        <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10">
          <input type="password" required class="form-control" name="password" #password="ngModel" [(ngModel)]="registerUser.password" id="inputPassword" placeholder="password" />
        </div>
      </div>
      <div class="form-group row">
        <label for="staticTel" class="col-sm-2 col-form-label">Telefono</label>
        <div class="col-sm-10">
          <input type="tel" required class="form-control" name="telefono" #telefono="ngModel" [(ngModel)]="registerUser.telefono" id="staticTel" placeholder="2711582388" />
        </div>
      </div>
      <div class="form-group row">
        <label for="birthday" class="col-sm-2 col-form-label">Fecha Nacimiento</label>
        <div class="col-sm-10">
          <input type="date" required class="form-control" name="fecha_nacimiento" #fecha_nacimiento="ngModel" [(ngModel)]="registerUser.fecha_nacimiento" id="birthday"/>
        </div>
      </div>
      <div class="form-group row">
        <label for="genero" class="col-sm-2 col-form-label">Genero</label>
        <div class="col-sm-10">
          <select id="genero" required class="form-control" name="genero" #genero="ngModel" [(ngModel)]="registerUser.genero">
            <option  value="1">Mujer</option>
            <option value="2">Hombre</option>
          </select>  
        </div>
      </div>
      
      <div class="form-group row">
        <label for="tipo_usuario" class="col-sm-2 col-form-label">Tipo Usuario</label>
        <div class="col-sm-10">
          <select id="tipo_usuario" required class="form-control" name="id_tipo_usuario" #id_tipo_usuario="ngModel" [(ngModel)]="registerUser.id_tipo_usuario" >
            <option value="1">Cliente</option>
            <option value="2">Dentista</option>
          </select>  
        </div>
      </div>
      <button type="submit" [disabled]="!forma.valid" class="btn btn-outline-success col-3 float-right mt-3">Registrarse</button>
    </form>
  </div>
</body>