body {
    /* background-color: #3374FF; */
    /* color: #FFFFFF;
    font-family: 'Baskervville', serif; */
  }
  
  
/*   
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    border: 1px solid #e7e7e7;
    background-color: #f3f3f3;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: #666;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  Change the link color to #111 (black) on hover
  li a:hover {
    background-color: #444;
  }
  
  .footer {
    background-color: #333;
    text-align: center;
    padding: 10px;
  }
  
  input[type="text"], input[type="password"]{
    outline: none;
    padding: 20px;
    display: block;
    width: 300px;
    border-radius: 3px;
    border: 1px solid #eee;
    margin: 20px auto;
  }
  
  input[type="submit"]{
    padding: 10px;
    color: #fff;
    background: #0098cb;
    width: 320px;
    margin: 20px auto;
    margin-top: 0px;
    border-radius: 3px;
    border: 0;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #00b8eb; 
  }
  
  /* Create three equal columns that floats next to each other 
.column {
    float: left;
    width: 32%;
    border-style: groove;
  }
  
  /* Clear floats after the columns
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  
  /* Responsive layout - makes the three columns stack on top of each other instead of next to each other on smaller screens (600px wide or less)
  @media screen and (max-width: 600px) {
    .column {
      width: 100%;
    }
  }
  
  
  .slider {
      width: 100%;
      margin: auto;
      overflow: hidden;
  }
  
  .slider ul {
      display: flex;
      padding: 0;
      width: 400%;
      
      animation: cambio 20s infinite alternate linear;
  }
  
  .slider li {
      width: 100%;
      list-style: none;
  }
  
  .slider img {
      width: 100%;
  }
  
  @keyframes cambio {
      0% {margin-left: 0;}
      20% {margin-left: 0;}
      
      25% {margin-left: -100%;}
      45% {margin-left: -100%;}
      
      50% {margin-left: -200%;}
      70% {margin-left: -200%;}
      
      75% {margin-left: -300%;}
      100% {margin-left: -300%;}
  } */
  

  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  