
  <body>
    
    <div class="container mt-5">
 
      <h3 class="text-center">Este es tu itenerario del dia de hoy</h3>
     
        <br />
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Fecha</th>
              <th scope="col">Tratamiento</th>
              <th scope="col">Costo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of resul; let i = index">
              <th scope="row">{{i+1}}</th>
              <td>{{item.fecha_Historial|date:"medium"}}</td>
              <td>{{item.nombre_tratamiento}}</td>
              <td>{{item.costo_tratamiento|currency}}</td>
            </tr>
          </tbody>
        </table>

      <div class="text-center mt-5">
        <button routerLink="/main-dentista" class="btn btn-outline-danger mb-5">
          Atras
        </button>
      </div>
    </div>
  
    <!--Footer-->
    <div class="footer">Dentistapp - 2020. <br /></div>
  </body>
  