.footer {
    background-color: #333;
    text-align: center;
    color: aliceblue;
    padding: 10px;
  }
  
  .card {
    -webkit-border-radius: 20px 20px 20px 20px;
    border-radius: 20px 20px 20px 20px;
    -webkit-box-shadow: 10px 10px 49px -13px rgba(0, 0, 0, 0.49);
    -moz-box-shadow: 10px 10px 49px -13px rgba(0, 0, 0, 0.49);
    box-shadow: 10px 10px 49px -13px rgba(0, 0, 0, 0.49);
  }