  <body>
	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<h2 class="text-center animated fadeInUp">Iniciar sesión</h2>

	<form (ngSubmit)="save()" #forma="ngForm" align="center" class="animated fadeInUp">
		<input  type="email" name="email" #email="ngModel" [(ngModel)]="user.email" placeholder="Email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
		<input  type="password" name="password" #password="ngModel" [(ngModel)]="user.password" placeholder="Contraseña" required>
		<br>
		<button class="btn btn-success mb-3" [disabled]="!forma.valid" type="submit"> Enviar</button>
		<br>
		<span class="align-content-center" style="color: black;">ó <a routerLink="/registro" style="color:white;"> Registrate</a></span>
	</form>
	<br>
	<br><br><br><br><br>
	<!--Footer-->
	 <div class="footer">
		Dentistapp - 2020. <br>
	</div> 
</body>