<head>
    <link href="https://fonts.googleapis.com/css?family=Baskervville&display=swap" rel="stylesheet"> <!-- Tipo de letra -->
  </head>
  <body>
	<!-- Menú -->
	<div>
		<ul>
			<li><img src="../assets/img/1.jpg" alt="logo" width = "60" height="60"></li>
			<li><a routerLink="">Cerrar sesión</a></li>
		</ul>
	</div>
	<!-- Menú secundario -->
    <br>
    <div class="">
        <br><br><br><br><br>
                <h3 class="text-center">Elige el horario de tu preferencia:</h3>
                <form action="registro.php" method="post" required align="center">
                    <br>
                    
                    <ul class="days">  
                        <li><button type="button" class="btn btn-success">9:00 - 9:30 </button></li>
                        <li><button type="button" class="btn btn-success">9:30 - 10:00 </button></li>
                        <li><button type="button" class="btn btn-success">10:00 - 10:30 </button></li>
                        <li><button type="button" class="btn btn-success">10:30 - 11:00 </button></li>
                        <li><button type="button" class="btn btn-success">11:00 - 11:30 </button></li>
                        <li><button type="button" class="btn btn-danger">11:30 - 12:00 </button></li>
                        <li><button type="button" class="btn btn-success">12:00 - 12:30 </button></li>
                        <li><button type="button" class="btn btn-success">12:30 - 13:00 </button></li>
                        <li><button type="button" class="btn btn-danger">13:00 - 13:30 </button></li>
                        <li><button type="button" class="btn btn-success">13:30 - 14:00 </button></li>
                        <li><button type="button" class="btn btn-danger">14:00 - 14:30 </button></li>
                        <li><button type="button" class="btn btn-success">14:30 - 15:00 </button></li>
                        <li><button type="button" class="btn btn-success">15:00 - 15:30 </button></li>
                        <li><button type="button" class="btn btn-success">15:30 - 16:00 </button></li>
                        <li><button type="button" class="btn btn-success">16:00 - 16:30 </button></li>
                        <li><button type="button" class="btn btn-success">16:30 - 17:00 </button></li>

                      </ul>
                    <br><br>
                    
                    <input type="submit" routerLink="" value="Agendar cita"><br><br><br>
                    
                    <button routerLink="/agenda-cita">Atras</button>
                    
                    <br><br><br><br>
                    
                    <br>
                    
                </form>
    </div> 


	<!--Footer-->
	<div class="footer">
		Dentistapp - 2020. <br>
	</div>
  </body>

