<body>
  <!-- Tabla -->
  <div class="container ">
	<div class="text-right">
        <a name="back" class="btn btn-outline-primary mt-5" [routerLink]="['/main-user']" routerLinkActive="router-link-active"  role="button"><i class="fas fa-arrow-left"></i> Regresar</a>
    </div>
    <div class="mt-5 text-center animated fadeInUp">
      <h3>Este es tu historial</h3>
    </div>

    <table class="table animated fadeInUp">
      <thead class="thead-dark ">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Fecha</th>
		  <th scope="col">Nombre Tratamiento</th>
          <th scope="col">Estatus</th>
		  <th scope="col">Costo del Tratamiento</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of citas; let i = index" >
          <th scope="row">{{i+1}}</th>
          <td>{{item.fecha_cita|date:'medium'}}</td>
          <td>{{item.nombre_tratamiento}}</td>
		  <td>{{item.estatus_cita}}</td>
		  <td>{{item.costo_tratamiento|currency}}</td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- /container -->
</body>
