<body> 
	<div class="container animated fadeInUp mt-5">
		
		<div class="row " >
			<div class="col-6">
			  <div class="card">
				<div align="center">
					<!-- <img src="../assets/img/6.png" width="300" > -->
					<a><i class="fas fa-calendar-alt fa-10x mt-5 "></i></a>
				</div>
				<div class="card-body">
				  <h5 class="card-title text-center"><b>Confirmar citas de pacientes</b></h5>
				  <p class="card-text">Revisa las citas que tengas pendiente sin fecha y asignales una fecha a tus pacientes.</p>
				  <a routerLink="/agenda-cita" class="btn btn-outline-primary">Ver citas</a>
				</div>
			  </div>
			</div>

			<div class="col-6">
				<div class="card ">
				  <div align="center">
					  <!-- <img src="../assets/img/8.png" width="300"> -->
					  <a ><i class="fas fa-history fa-10x mt-5"></i></a>
				  </div>
				  <div class="card-body">
					<h5 class="card-title text-center"><b>Historial</b></h5>
					<p class="card-text">Revisa cual es tu itinerario del día de hoy y podrás checar la que pacientes pasarán hoy.</p>
					<a routerLink="/historial-dentista" class="btn btn-outline-primary">Ver historial</a>
				  </div>
				</div>
			  </div>
			
		  </div>
	
		  <div class="row" >
			<div class="col-6">
			  <div class="card mt-5">
				<div align="center">
					<i class="fas fa-file-medical-alt fa-10x mt-5"></i>
				</div>
				<div class="card-body">
				  <h5 class="card-title text-center"><b>Historial Clínico</b></h5>
				  <p class="card-text">Crea, edita y elimina historiales clínicos para tus pacientes y asi poder llevar un mejor control de su salud.</p>
				  <a routerLink="" class="btn btn-outline-primary">Ver historial clinico</a>
				</div>
			  </div>
			</div>

			
		  </div>
		
	</div>
	<br>

	<!--Footer-->
	<div class="footer">
		Dentistapp - 2020. <br>
	</div>
  </body>

