<head>
  <link
    href="https://fonts.googleapis.com/css?family=Baskervville&display=swap"
    rel="stylesheet"
  />
  <!-- Tipo de letra -->
</head>
<body>
  <!-- Menú secundario -->
  <br />
  <div class="animated fadeInUp">
    <br /><br /><br /><br /><br />
    <h3 class="text-center">Ingrese los siguientes datos:</h3>
    <form (ngSubmit)="save()" #forma="ngForm" required align="center">
      <br />
      <b>Tipo de tratamiento:</b><br />
      <div align="center">
        <td>
          <select name="Tratamiento_idTratamiento" required id="1" [(ngModel)]="agendarCita.Tratamiento_idTratamiento" class="custom-select">
            <option [value]="item.idTratamiento" *ngFor="let item of tratamiento">{{item.nombre_tratamiento}}</option>
          </select>
        </td>
      </div>
      <br />

     <div class="mb-2 mt-3">
        <h6><b>Día - Hora de la cita</b></h6>
        <small>Favor de escribir los días y el horario en el que podrías estar disponible para su cita</small>
     </div>
      <div align="center" class="mb-4">
        <textarea class="form-control container" required name="fechaUsuario" [(ngModel)]="agendarCita.fechaUsuario_cita"></textarea>
      </div>

      <div>
        <button type="submit" [disabled]="!forma.valid" class="btn btn-outline-success sub-btn">Agendar Cita</button>
      </div>
    </form>
    <div class="text-center mt-5">
      <button routerLink="/main-user" class="btn btn-outline-danger mb-5">
        Atras
      </button>
    </div>
  </div>

  <!--Footer-->
  <div class="footer">Dentistapp - 2020. <br /></div>
</body>
